<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
    <!-- <node pkg="lidar_team_morai" type="dynamic_obstacle" name="dynamic_obstacle" /> -->
    <!-- <node pkg="lidar_team_morai" type="static_obstacle_morai" name="static_opstacle_morai"/> -->
    <node pkg="lidar_team_morai" type="dynamic_kyuhyun" name="dynamic_kyuhyun_node"/>
    <node pkg="lidar_team_morai" type="drawing_path_morai.py" name="drawing_path_morai" output="screen"/>
    <node pkg="lidar_team_morai" type="jinho.py" name="pure_pursuit_jinho" output="screen"/>
    <!-- <node pkg="lidar_team_morai" type="pathreader_morai.py" name="pathreader_morai" output="screen" /> -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_team_morai)/rviz/track_waypoint_morai.rviz" />
    
</launch>
