<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
    <node pkg="lidar_team_morai" type="track_jiwon" name="track_jiwon" output="screen" />
    <node pkg="lidar_team_morai" type="drawing_path_morai.py" name="drawing_path_morai" output="screen" />
    <node pkg="lidar_team_morai" type="pure_pursuit_morai.py" name="pure_pursuit_morai" output="screen" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_team_morai)/rviz/track_waypoint_morai.rviz" />

</launch>
