<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
    <node pkg="lidar_team_morai" type="track_waypoint_morai" name="track_waypoint_morai" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_team_morai)/rviz/track_waypoint_morai.rviz" />

    <node pkg="lidar_team_morai" type="track_drive_morai.py" name="track_drive_morai" output="screen" />

</launch>
